* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  padding: 80px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004066,
    #006c8c,
    #009ba4,
    #00c9ac
  );
}
