@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004066,
    #006c8c,
    #009ba4,
    #00c9ac
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
